* {
  box-sizing: border-box;
  font-family: NotoSansRegular;
}

a {
  text-decoration: none;
  color: inherit;
}
.outer {
  margin-top: 110px;
  // background-color: yellow;
}
.titleIcon {
  weight: 70px;
  height: 70px;
  margin-right: 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mt-20 {
  margin-top: 20px;
}
input {
  background-color: inherit;
  border: none;
}

input:focus {
  outline: none;
}

.btn-user {
  width: 330px;
  height: 48px;
  border-radius: 6px;
  line-height: 26px;
  border: none;
  align-content: center;
}
